Booking.xsd

<?xml version="1.0" encoding="UTF-8"?>



<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="Book.xsd" />
	<xs:include schemaLocation="Reader.xsd" />
	<xs:include schemaLocation="BookInstance.xsd" />

	<xs:element name="Booking" type="bookingType"/>
		<xs:complexType name="bookingType">
			<xs:sequence>
			<xs:element name="bookInstance" type="bookInstanceType" />
			<xs:element name="reader" type="readerType" />
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="finishDate" type="xs:date"/>
			<xs:element name="returnDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	
	
	
	
	
</xs:schema>
