Book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">



	<xs:element name="Book" type="bookType" />
	

	
	
		<xs:complexType name="bookType">
			<xs:sequence>
				<xs:element name="author" type="xs:string"  />
				<xs:element name="title" type="xs:string" />
				<xs:element name="year" type="xs:integer"/>
				<xs:element name="isbn" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	
	
	
</xs:schema>
